@using CasesNET.Web.ViewModels.Cart
@using System.Linq
@model CartItemListingViewModel

@{
    this.ViewData["title"] = "Shopping Cart";
}

@if (Model.Items.Any())
{
    <h1 class="text-center text-uppercase">Shopping Cart Items </h1>
    <table class="table" id="cartItemsTable">
        <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price per 1</th>
                <th scope="col">Remove Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="cart-item-body">
                    <th scope="row"><img class="thumbnail-img" width="50" height="50" src="~/Images/Cases/@item.CaseImageUrl" /></th>
                    <td>@item.CaseManufacturerName @item.CaseDeviceName</td>
                    <td class="cart-item-quantity">
                        @item.Quantity
                    </td>
                    <td class="cart-item-price"><span>$</span>@item.CasePrice</td>
                    <td>
                        <form method="post" class="form-inline removeItem-form" asp-area="Api" asp-controller="Cart" asp-action="RemoveItem" asp-route-id="@item.Id">
                            <button name="Id" class="btn hoverable remove-cart-item-button" type="submit" aria-label="Remove-Item">X</button>
                        </form>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3 >Total: <span id="totalPrice" class="text-danger">$@Model.TotalPrice</span></h3>
    <h3>Proceed to <a class="hoverable" asp-area="" asp-controller="Checkout" asp-action="Index" >Checkout ></a></h3>
}
else
{
    <h1 class="text-center text-uppercase">Your Cart Is Empty...</h1>

    <div class="container" align="center">
        <a class="btn btn-outline-warning" asp-area="" asp-controller="Categories" asp-action="All">Continue shopping </a>
    </div>
}
<script>
    window.addEventListener('DOMContentLoaded', function () {
        new Zooming().listen('.thumbnail-img')
    })
</script>