@using CasesNET.Common
@using Microsoft.AspNetCore.Identity
@using CasesNET.Data.Common.Repositories
@using CasesNET.Data.Models
@using static CasesNET.Common.GlobalConstants.Domain
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IRepository<Category> CategoryRepository
@{
    var categories = CategoryRepository.AllAsNoTracking()
        .Select(x => new
        {
            Id = x.Id,
            Name = x.Name,
        })
        .ToList();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @SystemName</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/reset.css?version=1">
    <link href="~/css/nav.css?version=3" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/card.css?version=3" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <nav class="container-fluid shadow main-nav navbar navbar-expand-xl fixed-top bg-white">
        <a class="navbar-brand ml-lg-5" asp-area="" asp-controller="Home" asp-action="Index">Cases.NET</a>

        <ul class="navbar-nav flex-row search-wrapper mr-xl-4">
            <li class="nav-item">
                <form method="post" asp-area="" asp-controller="Search" asp-action="ByTerm">
                    <input name="term" id="term search-input" class="term input-sm mr-sm-2" type="search" placeholder="Search " aria-label="Search ">
                </form>
            </li>
        </ul>
        <button class="hamburger d-xl-none d-block navbar-right" id="hamburger" type="button" data-toggle="collapse" data-target="#nav-collapsed" aria-controls="nav-collapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-collapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-center mr-xl-4" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link text-center dropdown-toggle mr-xl-4 shop-title" style="cursor:pointer" data-toggle="dropdown" id="shop-dropdown-menu" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu bg-white text-center" aria-labelledby="#shop-dropdown-menu">
                            <li class="dropdown-item text-uppercase"><a asp-area="" asp-controller="Categories" asp-action="All">All Categories</a></li>

                            @foreach (var category in categories)
                            {
                                <li class="dropdown-item text-uppercase"><a asp-area="" asp-controller="Cases" asp-action="ByCategory" asp-route-id="@category.Id">@category.Name</a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-center mr-xl-4 latest-items " asp-area="" asp-controller="Cases" asp-action="Latest">Latest</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-center mr-xl-4 " asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                </li>
            </ul>

            <ul class="list-unstyled mt-xl-3 d-block d-xl-flex">
                <li class="nav-item ">
                    @if (this.User.IsInRole(AdministratorRoleName))
                    {

                        <a class="nav-link text-center mr-xl-2 sign-in " asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>

                    }
                    else if (this.SignInManager.IsSignedIn(this.User))
                    {

                        <form class="form-inline justify-content-center mr-xl-2 sign-in " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                            <button type="submit" class=" border-0 hoverable btn sign-in nav-link text-center mr-xl-2" style=" font-size: 1.3rem;font-weight:bold">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link text-center mr-xl-2 sign-in " asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                    }
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-center mr-xl-2 shopping-bag " asp-area="API" asp-controller="ShoppingCart" asp-action="AllItems ">Bag</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="fixed-top container submenu-container mt-xl-5 mt-lg-4 mt-md-4 d-none d-md-block">
        @await Html.PartialAsync("../Shared/_SubmenuPartial.cshtml")
    </div>
    <div class="container mt-5">

        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>

    </div>


    <footer class="page-footer font-small blue pt-4 container mt-4">
        <div class="footer-widget container">
            <div class="row justify-content-between">
                <div class="col-xl-4 text-center"><i class="fas fa-shield-alt"></i><span class="ml-2 footer-widget-text">100% SAFE SHOPPING   </span></div>
                <div class="col-xl-4 text-center"><i class="fas fa-cogs"></i><span class="ml-2 footer-widget-text">FAST MANUFACTURE</span></div>
                <div class="col-xl-4 text-center"><i class="fas fa-truck"></i><span class="ml-2 footer-widget-text">DELIVERY UP TO 72 HOURS</span></div>

            </div>
        </div>
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h2 class="text-uppercase text-weight-light">Cases.NET</h2>
                    <p><strong>+359 898 12 31 23</strong></p>
                    <p>Monday to Friday 10AM-6PM</p>
                    <p>office@cases.net</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h2 class="text-uppercase text-weight">Products</h2>

                    <ul class="list-unstyled">
                        <li>
                            <a asp-area="" asp-controller="Cases" asp-action="OurSelection">Our Selections</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Categories" asp-action="All">Categories</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h2 class="text-uppercase">Account</h2>

                    <ul class="list-unstyled">
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">My account</a>
                        </li>
                        <li>
                            <a href="#!">Shopping Cart</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="#"> @SystemName</a>
        </div>
    </footer>
    <partial name="_CookieConsentPartial" />



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/pseudo.js"></script>
    <script type="text/javascript" src="~/js/nav.js?version=1"></script>
    <script type="text/javascript" src="~/js/shopping-cart.js"></script>
    <script defer>
        $(document).ready(function () {
            // updates on cart quantity on load
            GetCount().then(function (count) {
                updateBagQuantity(count);
            })
        })
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
