@using CasesNET.Web.ViewModels.Administration.Cases
@model CaseListingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cases</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Device
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>Utilities</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img width="50" height="50" src="~/Images/Cases/@item.ImageUrl" alt="@item.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>