@using CasesNET.Web.ViewModels.Cases
@model CaseDetailsViewModel

@{
    this.ViewData["title"] = Model.ManufacturerName + Model.DeviceName;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-6 col-sm-12" align="center">
            <img class="img-fluid details-img" src="~/Images/Categories/animals-category.jpg" alt="@Model.ImageUrl" />
        </div>
        <div class="col-xl-6 col-sm-12" align="center">
            <h2 class="text-lg-left  text-sm-center font-weight-bold text-border p-3">@Model.ManufacturerName @Model.DeviceName</h2>
            <h1 class="text-lg-left text-sm-center font-weight-bold text-danger  p-3 text-border">@Model.Price$</h1>
            <h3 class=" description mt-5 text-lg-left  text-sm-center ">@Model.Description</h3>

            <div class="mt-5">
                <form method="Post" asp-area="Api" asp-controller="Cart" asp-action="addItem" asp-route-id="@Model.Id" class="form shopping-cart-form">
                    <button type="submit" class="hoverable btn btn-utility add-to-cart-btn text-uppercase"><i class="hoverable fas fa-shopping-cart"></i>Add To Cart</button>
                </form>
            </div>
            <h5 class="text-lg-left mt-5 text-sm-center font-weight-bold text-border p-3">Category: 
            <a style="color:lightblue!important" class="text-uppercase"  asp-area="" asp-controller="Cases" asp-action="ByCategory" asp-route-id="@Model.CategoryId" >@Model.CategoryName</a>
            </h5>
        </div>
    </div>
</div>
<h1 class="text-center m-5 text-uppercase">Related Models</h1>
<div class="bestsellers-wrapper mt-4 container">
    <div class="row">
        @foreach (var phoneCase in Model.RelatedCases)
        {
            @await Html.PartialAsync("../Shared/_CasePartial.cshtml", phoneCase)
        }
    </div>
</div>
<style>
    .text-border{
        border-bottom:1px solid lightblue;
    }
        .text-border:hover {
            border-bottom: 1px solid lightblue !important;
        }
    .description{
        min-height:300px
    }
</style>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        new Zooming().listen('.details-img')
    })
</script>