@using CasesNET.Web.ViewModels.Orders;
@{
    
    this.Layout = "_Layout";
    this.ViewData["Title"] = "Orders";
}
@model OrderListingViewModel

<h1 class="text-center">Orders</h1>

<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CreatedOn</th>
                <th scope="col">OrderStatus</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
            <tr>
                <td scope="row">@order.Id</td>
                <td>@order.CreatedOn</td>
                <td>@order.OrderStatus</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Click
                        </button>
                        <ul class="mb-3 dropdown-menu">
                            @foreach (var item in order.Items)
                            {

                                <li class="dropdown-item d-flex">
                                    <img class="thumbnail-img" width="50" height="50" src="~/Images/Cases/@item.CaseImageUrl" />
                                    <div>
                                        <h6 class="my-0">@item.CaseManufacturerName @item.CaseDeviceName</h6>
                                        <small class="text-muted">Quantity: @item.Quantity</small>
                                        <h6 class="text-info">Price: $@item.CasePrice</h6>
                                    </div>
                                   
                                  
                                </li>
                            }
                        </ul>
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>